body {
    padding: 50px;
}

.picture {
    width: 250px;
}

.picture-upload-form {
    background-color: black;
    padding: 30px;
}

.description {
    width: 550px;
    height: 450px;
    padding: 20px;
    align-self: center;
    position: relative;
    background-color: lightgray;
}

label {
    justify-self: center;
}