.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(30, 30, 32, 1);
    color: pink;
    position: fixed;
    top: 0;
    left: 0;
}



.profile-dropdown {
    background-color: rgba(30, 30, 32, .98);
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 2s ease;
    top: 76px;
    text-align: left;
    height: 100% auto fit-content;
    width: 200px;
    align-items: center;
    grid-gap: 1rem;
}

.fa-user-circle {
    color: hotpink
}

.logout-button {
    background-color: rgb(121, 42, 224);
    position: relative;
    color: white;
    border-radius: 10px;
    align-self: center;
}

.logout-button:hover {
    background-color: hotpink;
    transition: .5s;
}

.user-button {
    padding: 5px;
    position: fixed;
    right: 10px;

}

.logo {
    height: 50px;
    width: 50px;
    padding: 20px;
}